<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>水果收银系统</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div id="app">
        <header class="title-bar">
            <p class="title">水果收银系统</p>
            <div class="right-part-show">
                <img src="./images/setting.png" alt="设置" class="setting-icon">
                <p class="show-current-time">{{currentTime}}</p>
            </div>
        </header>
        <ul class="category-tab">
            <li class="category-item" :class="{active:currentIndex == 0}" @click="switchTab(0)">
                <p class="category-title">结算区</p>
            </li>
            <li class="category-item" :class="{active:currentIndex == 1}" @click="switchTab(1)">
                <p class="category-title">线上订单</p>
            </li>
            <li class="category-item" :class="{active:currentIndex == 2}" @click="switchTab(2)">
                <p class="category-title">线下订单</p>
            </li>
            <li class="category-item" :class="{active:currentIndex == 3}" @click="switchTab(3)">
                <p class="category-title">商家报表</p>
            </li>
        </ul>
        <!-- 结算区 -->
        <div v-show="currentIndex == 0" class="main-content">
            <div class="operation-wrapper">
                <ul class="goods-list-wrapper">
                    <li v-for="n in 10" class="goods-item">
                        <div class="goods-pic-wrapper">
                            <span class="delete-icon pointer"></span>
                            <img src="./images/goods.png" class="goods-pic">
                        </div>
                        <div class="goods-detail">
                            <p class="goods-title">苹果</p>
                            <p class="goods-spec">规格：12元/250g</p>
                            <p class="goods-money">
                                <span class="goods-weight">重量357g</span>
                                <span class="goods-price">
                                    <i class="money-icon black">￥</i>
                                    <i class="money-number black">18</i>
                                </span>
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="calculator-scope">
                    <div class="show-total-money">
                        <p class="total-title">共4件商品</p>
                        <p class="total-money">
                            <span class="money-title">合计</span>
                            <span class="show-money">
                                <i class="money-icon blue">￥</i>
                                <i class="money-number blue">54.00</i>
                            </span>
                        </p>
                    </div>
                    <div class="operation-group">
                        <div class="left-part">
                            <button class="order-list pointer">挂单列表</button>
                            <button class="go-order pointer">挂单</button>
                        </div>
                        <button class="right-part pointer">
                            结算
                        </button>
                    </div>
                </div>
            </div>
            <div class="goods-choice-wrapper">
                <ul class="goods-category-wrapper">
                    <li @click="switchSubTab(n-1)" :class="{active:subCurrentIndex == n-1}" v-for="n in 20"
                        class="goods-category-item pointer">
                        分类
                    </li>
                </ul>
                <ul class="goods-choice-list">
                    <li v-for="n in 20" class="goods-choice-item">
                        <img src="./images/goods.png" class="goods-show-pic">
                        <p class="goods-desc">
                            <span class="goods-name">小泰芒</span>
                            <span class="price-weight">23元 / 250g</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 线上订单 -->
        <div v-show="currentIndex == 1" class="main-content">
            <div class="operation-wrapper">
                <ul class="tab-wrapper">
                    <li @click="switchOnlineTab(0)" :class="{active:onlineCurrentIndex == 0}" class="tab-item pointer">
                        未接单</li>
                    <li @click="switchOnlineTab(1)" :class="{active:onlineCurrentIndex == 1}" class="tab-item pointer">
                        已接单</li>
                </ul>
                <div class="order-list-wrapper">
                    <ul v-show="onlineCurrentIndex == 0" class="accept-wrapper">
                        <li @click="getOrderDetail(0,n)" v-for="n in 20" class="order-item pointer"
                            :class="{active:currentOrder == n && onlineCurrentIndex == 0}">
                            <img src="./images/goods.png" class="order-goods-pic">
                            <div class="order-detail">
                                <p class="order-number">单号：12365425</p>
                                <p class="order-date">2019-05-22 12:22:22</p>
                            </div>
                            <button class="post-way self">自取</button>
                        </li>
                    </ul>
                    <ul v-show="onlineCurrentIndex == 1" class="accept-wrapper">
                        <li @click="getOrderDetail(1,n)" v-for="n in 20" class="order-item pointer"
                            :class="{active:currentOrder == n && onlineCurrentIndex == 1}">
                            <img src="./images/goods.png" class="order-goods-pic">
                            <div class="order-detail">
                                <p class="order-number">单号：12365425</p>
                                <p class="order-date">2019-05-22 12:22:22</p>
                            </div>
                            <button class="post-way post">自取</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="order-detail-wrapper">
                <!-- 倒三角 -->
                <div class="triangle"></div>
                <div class="user-info">
                    <div class="user-address info-part">
                        <img src="./images/location.png" class="location">
                        <div class="address-detail">
                            <p class="address">江苏省南京市江宁区泥塘小区2栋1306室</p>
                            <p class="user-detail">张三 13526987415</p>
                        </div>
                    </div>
                    <div class="user-comment info-part">
                        <p class="comment-title">备注</p>
                        <p class="user-detail">多放水果</p>
                    </div>
                </div>
                <ul class="order-detail-goods-list-wrapper">
                    <li v-for="n in 30" class="order-detail-goods-item">
                        <img src="./images/goods.png" class="order-detail-goods-pic">
                        <div class="order-detail-goods-detail">
                            <p class="title">小泰芒500g</p>
                            <p class="number-money">
                                <span class="goods-num">× 1</span>
                                <span class="goods-price">
                                    <i class="money-icon black">￥</i>
                                    <i class="money-number black">18</i>
                                </span>
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="ticket-print-wrapper">
                    <div class="is-in-shop">
                        <div class="checkbox-wrapper">
                            <div class="checkbox-inner"></div>
                        </div>
                        <span class="check-titl">到店自取</span>
                    </div>
                    <div class="right-calculator">
                        <p class="calculator-title">合计</p>
                        <span class="goods-price">
                            <i class="money-icon blue">￥</i>
                            <i class="money-number blue">18</i>
                        </span>
                        <button class="print-action pointer" @click="printTick">打印小票</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="currentIndex == 2" class="main-content">
            <div class="operation-wrapper">
                <ul class="tab-wrapper">
                    <li @click="switchOnlineTab(0)" :class="{active:onlineCurrentIndex == 0}" class="tab-item pointer">
                        未接单</li>
                    <li @click="switchOnlineTab(1)" :class="{active:onlineCurrentIndex == 1}" class="tab-item pointer">
                        已接单</li>
                </ul>
                <div class="order-list-wrapper">
                    <ul v-show="onlineCurrentIndex == 0" class="accept-wrapper">
                        <li @click="getOrderDetail(0,n)" v-for="n in 20" class="order-item pointer"
                            :class="{active:currentOrder == n && onlineCurrentIndex == 0}">
                            <img src="./images/goods.png" class="order-goods-pic">
                            <div class="order-detail">
                                <p class="order-number">单号：12365425</p>
                                <p class="order-date">2019-05-22 12:22:22</p>
                            </div>
                            <button class="post-way self">自取</button>
                        </li>
                    </ul>
                    <ul v-show="onlineCurrentIndex == 1" class="accept-wrapper">
                        <li @click="getOrderDetail(1,n)" v-for="n in 20" class="order-item pointer"
                            :class="{active:currentOrder == n && onlineCurrentIndex == 1}">
                            <img src="./images/goods.png" class="order-goods-pic">
                            <div class="order-detail">
                                <p class="order-number">单号：12365425</p>
                                <p class="order-date">2019-05-22 12:22:22</p>
                            </div>
                            <button class="post-way post">自取</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="order-detail-wrapper">
                <!-- 倒三角 -->
                <div class="triangle"></div>
                <ul class="order-detail-goods-list-wrapper offline">
                    <li v-for="n in 30" class="order-detail-goods-item">
                        <img src="./images/goods.png" class="order-detail-goods-pic">
                        <div class="order-detail-goods-detail">
                            <p class="title">小泰芒500g</p>
                            <p class="number-money">
                                <span class="goods-num">× 1</span>
                                <span class="goods-price">
                                    <i class="money-icon black">￥</i>
                                    <i class="money-number black">18</i>
                                </span>
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="ticket-print-wrapper offline">
                    <div class="right-calculator">
                        <p class="calculator-title">实付</p>
                        <span class="goods-price">
                            <i class="money-icon blue">￥</i>
                            <i class="money-number blue">18</i>
                        </span>
                        <button class="print-action pointer">查看付款码</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="currentIndex == 3" class="main-content">

        </div>
        <!-- dialog -->
        <div class="dialog-wrapper" :class="{active:showDialog}">
            <div class="dialog-mask"></div>
            <div class="dialog-main-content" :class={active:showDialog}>
                <div class="dialog-title-wrapper">
                    <p class="dialog-title">标题</p>
                    <button @click="closeDialog" class="dialog-close pointer">×</button>
                </div>
                <!-- 挂单 -->
                <div class="order-list-wrapper dialog">
                    <div class="order-list-left">
                        <p class="order-list-title">挂单列表</p>
                        <ul class="order-list">
                            <li @click="getOrderDetailDialog(n)" v-for="n in 20" class="order-item dialog pointer"
                                :class="{active:currentOrderDialog == n}">
                                <p class="order-number dialog">单号：12365425</p>
                                <p class="order-time dialog">2019-05-13 12:22:22</p>
                            </li>
                        </ul>
                    </div>
                    <ul class="order-detail-goods-list-wrapper dialog">
                        <!-- 倒三角 -->
                        <div class="triangle"></div>
                        <li v-for="n in 30" class="order-detail-goods-item">
                            <img src="./images/goods.png" class="order-detail-goods-pic">
                            <div class="order-detail-goods-detail">
                                <p class="title">小泰芒500g</p>
                                <p class="number-money">
                                    <span class="goods-num">× 1</span>
                                    <span class="goods-price">
                                        <i class="money-icon black">￥</i>
                                        <i class="money-number black">18</i>
                                    </span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 结算 -->
                <!-- 扫码 -->
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>