html,body,div#app{
    height: 100%;
}
body{
    font-size: calc(100vw / 19.2);
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    line-height: 100%;
    color: #000000;
}
header.title-bar {
    background: #F2F5F6;
    padding: 1rem;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p.title {
    font-size: 2rem;
}
.right-part-show {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img.setting-icon {
    width: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}
p.show-current-time {
    font-size: 1rem;
    background: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
}
ul.category-tab {
    width: 100%;
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #C8DDE5;
}