html,body,div#app{
    height: 100%;
}
body{
    font-size: calc(100vw / 19.2);
}
header.title-bar {
    background: #F2F5F6;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}